@{
    ViewData["Title"] = "Home Page";
}
@model System.Data.DataTable
<div class="text-center">
    <h1>Employees List</h1>
    <table class="table" border="1">
        <thead>
            <tr>
                @foreach (System.Data.DataColumn column in Model.Columns)
                {
                    <th>@column.ColumnName</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (System.Data.DataRow row in Model.Rows)
            {
                <tr>
                    @foreach (var item in row.ItemArray)
                    {
                        <td>@item</td>
                    }
                </tr>
            }
        </tbody>
    </table>

    <form method="POST" action="/Home/AddEmployee">
        <label for="name">姓名</label>
        <input type="text" id="name" name="name"/>
        <label for="salary">薪水</label>
        <input type="number" id="salary" name="salary" />
        <button type="submit" class="btn btn-dark">新增</button>
    </form>
    <form method="POST" action="/Home/UpdateEmployee">
        <label for="id">員工編號</label>
        <input type="text" id="id" name="id" />
        <label for="name">姓名</label>
        <input type="text" id="name" name="name" />
        <label for="salary">薪水</label>
        <input type="number" id="salary" name="salary" />
        <button type="submit" class="btn btn-dark">修改</button>
    </form>
    <form method="POST" action="/Home/DeleteEmployee">
        <label for="id">員工編號</label>
        <input type="text" id="id" name="id" />
        <button type="submit" class="btn btn-dark">刪除</button>
    </form>
</div>
